# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Gulzar Seferli\Desktop\ITCITY_JAVA10\Mortgage_Calculator_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


src/database/DatabaseConnection.java